<%- include('../header') %>
<div class="uk-container">

    <h2>Adicionar Categorias</h2>

    <form class="uk-form-stacked" method="POST" action="/categorias/editar/<%= categoria.id %>">

            <div class="uk-margin">
                <label class="uk-form-label" for="categoria">Categoria</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="categoria" value="<%= categoria.categoria %>" type="text" name="categoria">
                </div>
                
            </div>
            <button class="uk-button uk-button-primary">Salvar</button>
        
        </form>

</div>

<%- include('../footer') %>
