<%- include('../header') %>
<div class="uk-container">

    <h2>Adicionar Publicações</h2>

    <form class="uk-form-stacked" method="POST" action="/publicacoes/nova">

        <div class="uk-margin">
            <label class="uk-form-label" for="titulo">Título</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="titulo" placeholder="Nome do título..." type="text" name="titulo">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="categoria">Categoria</label>
            <select id="categoria" class="uk-select" name="categoria">
                <% categorias.forEach( categoria => { %>
                    <option value="<%= categoria.id %>"><%= categoria.categoria %></option>
                <%})%>
            </select>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="conteudo">Conteúdo</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea" id="conteudo" name="conteudo" placeholder="Conteúdo..."></textarea>
            </div>
        </div>
        <button class="uk-button uk-button-primary">Salvar</button>

    </form>

</div>

<%- include('../footer') %>